@font-face {
    font-family: 'ubuntu';
    src: url("./../assets/fonts/Ubuntu/Ubuntu-Regular.ttf");
}
@font-face {
    font-family: 'ubuntu-bold';
    src: url("./../assets/fonts/Ubuntu/Ubuntu-Bold.ttf");
}
@font-face {
    font-family: 'ubuntu-slim';
    src: url("./../assets/fonts/Ubuntu/Ubuntu-Light.ttf");
}

@font-face {
    font-family: 'poppins-bold';
    src: url("./../assets/fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
    font-family: 'poppins-slim';
    src: url("./../assets/fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
    font-family: poppins;
    src: url("./../assets/fonts/Poppins/Poppins-Regular.ttf") format(truetype);
}